body {
    
background-image: url("Jz6bAs.jpg");
background-size: cover;
font-weight: bold;
color: white;
text-align: center;
font-weight: bold;
color: white;
text-align: center;
}

    
#haslo-EL{
    font-size: 50px;
    width: 500;
    font-weight: bold;
    float: left;
    border-radius: 20px;
    color: rgb(255, 251, 2);
    background-color: rgb(3, 42, 7);

    
}
#haslo2-EL{
    width: 500;
    font-size: 50px;
    border-radius: 20px;
    font-weight: bold;
    float: right;
    color: rgb(7, 153, 49);
    background-color: rgb(3, 42, 7);
}
#gówno{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 300;
    font-size: 50;
    background-color: rgb(3, 42, 7);
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
    height: 150px;

}
#myText{
width: 60;
font-size: 40px;

}
label{
    margin-top: 300;
    font-size: 30px;
    
}